body {
    font-family: 'Libre Franklin', serif;
    font-size: 52px;
}

a {
    text-decoration: none;
}

img {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#centered-horizontal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#centered-vertical {
    width: 100%;
    position: relative;
}

#error-code {
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
}

#error-number {
    font-size: 96px;
    font-weight: bolder;
}

#sticker {
    display: inline-block;
    vertical-align: middle;
    width: 259px;
    height: 224px;
    margin: 0 0 0 60px;
}

#error-description {
    margin-top: 1em;
    text-align: left;
    font-size: 28px;
}

#error-number {
    font-size: 96px;
    text-transform: uppercase;
}

#error-name {
    font-weight: bold;
    font-size: 72px;
    text-decoration: underline;
    text-transform: uppercase;
}

#banner {
    font-size: 24px;
    position: absolute; 
    top: 35px;
    left: 50%
}

#footer {
    width: 522px;;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#copyright {
    font-size: 16px;
    text-align: right;
    position: absolute; 
    bottom: 15px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}